<% books.forEach(s=>
    { %> 
        <h3>Book: <%= s.name %></h3>
        <b>Author:</b>
        <p><%=s.author%></p>

        <a href="<%=s.link %>""><p>Buy on Amazon!!</p></a>
    <% });
%>